# Configuración de Variables de Entorno

# Firebase Admin
FIREBASE_PROJECT_ID=tu-proyecto
FIREBASE_CLIENT_EMAIL=tu-email@tu-proyecto.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
FIREBASE_STORAGE_BUCKET=tu-proyecto.appspot.com

# SUNAT Credentials
SUNAT_RUC=20612769151
SUNAT_USER_SOL=USUARIO
SUNAT_PASS_SOL=PASSWORD
SUNAT_CLIENT_ID=tu-client-id
SUNAT_CLIENT_SECRET=tu-client-secret

# Security
SEED_TOKEN=tu-token-seguro-para-seed # Token para validar /api/seed en desarrollo
